<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Traveloke | Travel Plan</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a href="/" class="logo d-flex align-items-center me-auto">
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename">Traveloke</h1>
            </a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/" class="">Home</a></li>
                </ul>
            </nav>
            <a class="btn-getstarted" href="/form">Get Started</a>
        </div>
    </header>

    <main class="pt-5 pb-5">
        <section class="pt-5 pb-5">

            <div class="container-fluid">
                <div class="row">
                    <div class="d-none d-md-block col"></div>
                    <div class="col col-md-10 col-lg-8 col-xl-7 rounded-3" style="background-color: #f9f9f9;">
                        <div id="chat-messages" class="p-5"></div>
                    </div>
                    <div class="d-none d-md-block col"></div>
                </div>
            </div>

            <div class="container-fluid fixed-bottom" style="background-color: var(--background-color);">
                <div class="row h-100">
                    <div class="d-none d-md-block col"></div>
                    <div class="col col-md-9 col-lg-7 col-xl-5 h-100">
                        <div class="input-group h-100 mb-4 mt-4">
                            <form class="chat_form d-flex flex-row w-100">
                                <input type="text" id="user-input" class="form-control"
                                    placeholder="Type your message here...">
                                <button id="send-button" class="btn send-button" type="submit"
                                    style="background-color: var(--accent-color); color: var(--contrast-color);">Send</button>
                            </form>
                        </div>
                    </div>
                    <div class="d-none d-md-block col"></div>
                </div>
            </div>

        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <script src="{{ url_for('static', path='/js/scripts.js') }}"></script>

    <script>
        var converter = new showdown.Converter()
        text = `{{ response }}`
        html = converter.makeHtml(text)
        var responseHtml = "<p><img src={{ url_for('static', path='/images/avatar.png') }} class='img-fluid' alt='avatar' width='30px' heigh='30px'>&nbsp;<strong>Traveloke</strong></p>" + html
        document.getElementById('chat-messages').innerHTML += responseHtml

        document.querySelector('.chat_form').addEventListener('submit', function (event) {
            event.preventDefault()
            sendPrompt('{{ chat_id }}')
        })
    </script>

</body>

</html>